version: '2'
services:
  smartcontracts:
    build: 
      context: ./smartcontracts/
      target: builder
    volumes:
      - contracts:/app/build/
  client:
    build:
      context: ./client/
      target: builder
    ports:
      - 3000:3000
    volumes:
      - ./client/src/:/app/src/
      - contracts:/app/src/contracts/:ro
    depends_on:
      - smartcontracts
  store_centralized_data:
    build: ./store_centralized_data/
    ports:
      - 8080:8080
    volumes:
      - ./store_centralized_data/src/:/app/src/
    depends_on:
      - redis
  redis:
    image: redis:alpine
    command: redis-server --requirepass 12345678 --appendonly yes
    volumes:
      - data:/data
volumes:
  data:
  contracts: