.campaign {
  .short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
