[Unit]
Description=LTPS NodeJS Test Application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/tuanlh/api-server/
ExecStart=/usr/bin/node /home/tuanlh/api-server/server.js

[Install]
WantedBy=multi-user.target